.container{
    width: 100%;
}

body {
    margin: 0;
    background-image: url('floresrojas.jpg');
    background-size: cover;
}

@media screen and (min-width: 800px) {
    button {
        background-color: #B404AE;
    }

}

@media screen and (min-width: 300px) {
    button {
        background-color: #0B0B61;
    }

}

button {
    background-color: #F5A9F2;
    border: 2px solid #FA58F4;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
}


button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

 }

button:active {
   transform: translateY(2px);
}

#page1 {
    position: relative;
    margin: auto;
    width: 80%;
    height: 50%;
    transform:translate(5%,60%);
    text-align: center;
}

#instruccion {
    padding: 5px;
    width: 50%;
    left: 30%;
    text-align: center;
    border: 5px solid #DE39D4;
    outline: #FFB0E3 solid 10px;
    position: relative;
    opacity: 0.7;
    background-color: #FFFFFF;   
}

h3 {
    text-align: left;
}

#Go {
    color: blue;
    border-radius: 50%;
    display: inline;
    margin-top: 5%;
    
}

#page2{
    display: none;
    position: relative;
    width: 50%;
    height: 100%;
    transform: translate(20%,30%);
    text-align: center;
    margin: auto;
}

#clave {
    width: 15%;
    height: 15%;
    padding: 5px 5px;
    box-sizing: border-box;
}

#messege {
    padding: 5px 5px;
    position: relative;
    width: 50%;
    height: 80px;
    box-sizing: border-box;
}

#buttons{
    position: relative;
    width: 15%;
    height: 20%;
    display: inline;
    
}

label {
    font-size: 20px;
    display: inline-block;
    color : #122A0A;
    opacity: 0.7;
    background-color: #FFFFFF;
}

#Textoamostrar{
    padding: 5px 5px;
    position: relative;
    width:50%;
    text-align: center;
    border: 5px solid #DE39D4;
    opacity: 0.7;
    background-color: #FFFFFF; 
    box-sizing: border-box;
    margin: 5% auto;
    height: 80px;

}

#Home {
    color: blue;
    border-radius: 30%;
    position: relative;
    
    
}
